<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>employee</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ShowAllEmployee</servlet-name>
    <servlet-class>com.yunplus.web.controller.ShowAllEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllEmployee</servlet-name>
    <url-pattern>/show.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAllEmployeeJson</servlet-name>
    <servlet-class>com.yunplus.web.controller.ShowAllEmployeeJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllEmployeeJson</servlet-name>
    <url-pattern>/showJson.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteEmployee</servlet-name>
    <servlet-class>com.yunplus.web.controller.DeleteEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployee</servlet-name>
    <url-pattern>/delete.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>com.yunplus.web.controller.AddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/add.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateEmployee</servlet-name>
    <servlet-class>com.yunplus.web.controller.UpdateEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployee</servlet-name>
    <url-pattern>/update.html</url-pattern>
  </servlet-mapping>
</web-app>